<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment Delivered Notification</title>

    <link rel="stylesheet" type="text/css" href="shipment-notification.css">
</head>
<body>
<div class="container">
    <h1>Your Order Has Been Delivered!</h1>
    <p>Dear <span class="highlight" th:text="${customerName}"></span>,</p>
    <p>Your shipment for order ID <span class="highlight" th:text="${orderId}"></span> has been successfully delivered.</p>

    <p>Delivery Details:</p>
    <ul>
        <li>Shipment ID: <span class="highlight" th:text="${shipmentId}"></span></li>
        <li>Tracking Number: <span class="highlight" th:text="${trackingNumber}"></span></li>
        <li>Logistics Provider: <span class="highlight" th:text="${logisticsProvider}"></span></li>
        <li>Delivered Date: <span class="highlight" th:text="${deliveredDate}"></span></li>
    </ul>

    <a th:href="@{https://localhost:4050/api/v1/track/${orderId}}" class="button">View Order</a>

    <p>If you have any questions, please contact our support team.</p>

    <div class="footer">
        <p>Thank you for choosing us!</p>
        <p>Best regards,<br>Your E-commerce Team</p>
    </div>
</div>
</body>
</html>
