<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment Delivered Notification</title>

    <link rel="stylesheet" type="text/css" href="shipment-notification.css">
</head>
<body>
<div class="container">
    <h1>Your Order Has Been Shipped!</h1>
    <p>Dear <span class="highlight" th:text="${customerName}"></span>,</p>
    <p>We’re pleased to inform you that your shipment for order ID <span class="highlight" th:text="${orderId}"></span> has been initiated.</p>

    <p>Shipment Details:</p>
    <ul>
        <li>Shipment ID: <span class="highlight" th:text="${shipmentId}"></span></li>
        <li>Tracking Number: <span class="highlight" th:text="${trackingNumber}"></span></li>
        <li>Logistics Provider: <span class="highlight" th:text="${logisticsProvider}"></span></li>
        <li>Shipped Date: <span class="highlight" th:text="${shippedDate}"></span></li>
        <li>Estimated Delivery Date: <span class="highlight" th:text="${estimatedDeliveryDate}"></span></li>
    </ul>

    <p>To track your shipment, click the button below:</p>
    <a th:href="@{https://localhost:4220/api/v1/track/${trackingNumber}}" class="button">Track Shipment</a>

    <div class="footer">
        <p>Thank you for shopping with us!</p>
        <p>Best regards,<br>Your E-commerce Team</p>
    </div>
</div>
</body>
</html>